<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Footer.css">
</head>

<body>
    <div class="cp">
        <p>Copyright @2021</p>
    </div>
    <div class="footer">
        <div class="ourteam">
            <h3>Our Team</h3><br><br> <br>
            <hr>
            <div class="details">
                <p>
                    <br> 19-39297-1 Sams <br>
                    <hr> 19-39541-1 Rubaiyad<br>
                    <hr> 19-39513-1 Naimul<br>
                    <hr> 19-39292-1 Sufian<br>
                    <hr>
                </p>
            </div>

        </div>
        <hr>
        <div class="contact">
            <h3>Contact Us</h3>
            <hr>
            <div class="details">
                <br>
                <p>Road-5, Bashundhara,Dhaka. <br> Bangladesh <br> Mobile: 01750096696
                </p>
            </div>


        </div>
        <hr>
        <div class="right">
            <div class="contact">
                <h3>Social media</h3>
                <hr>
            </div>
            <div class="icone">
                <a href="https://www.facebook.com/"> <img src="./facebook (1).png" alt="Facebook"> </a>
                <a href="https://mail.google.com/mail/u/0/#inbox"> <img src="./gmail.png" alt="Gmail"> </a>
                <a href="https://www.instagram.com/?hl=en"> <img src="./instagram.png" alt="Instagram"></a>
            </div>



        </div>



    </div>

</body>

</html>