<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./Css/about.css">
</head>

<body>
    <div class="portfolio">
        <header>
            <nav>
                <h2 class="logo" style="color:rgb(238, 222, 82);">G1_1</h2>
                <div class="btn">
                    <a href="./Login.html"><input type="submit" class="btn" value="Lets Started" /></a>

                </div>

            </nav>
            <main>
                <section class="page Restaurant">
                    <div class="details">
                        <h1 style="color:rgb(117, 39, 20);">Restaurant</h1>
                        <h2>Select by Restaurant</h2>
                        <p>Select your desire restaurants. <br> Hunt your food from your favorit place. </p>
                        <hr>
                    </div>
                    <div class="hero">
                        <img class="model-left" src="./Css/Img/funny_restaurant_poster_design_vector_533827-right.jpg" alt="Restaurant">
                        <img class="model-right" src="./Css/Img/funny_restaurant_poster_design_vector_533827.jpg" alt="Restaurant">

                    </div>
                </section>
                <section class="page Food">
                    <div class="details">
                        <h1 style="color:rgb(255, 230, 0);">Food</h1>
                        <h2>Search by food</h2>
                        <p>Search your food from here. <br> We will try to give you best restaurants suggetion. </p>
                        <hr>
                    </div>
                    <div class="hero">
                        <img class="model-left" src="./Css/Img/Summer-Food-Icons-left.jpg" alt="Food">
                        <img class="model-right" src="./Css/Img/Summer-Food-Icons-right.jpg" alt="Food">
                    </div>
                </section>
                <section class="page Sale">
                    <div class="details">
                        <h1 style="color:rgba(247, 0, 0, 0.842);">Sale</h1>
                        <h2>Offers for you</h2>
                        <p>Lets see which offers are available for you.</p>
                        <hr>
                    </div>
                    <div class="hero">
                        <img class="model-left" src="./Css/Img/sale-left.png" alt="Sale">
                        <img class="model-right" src="./Css/Img/sale-right.png" alt="Sale">
                    </div>

                </section>

            </main>

        </header>
    </div>


</body>

</html>