<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Css/Welcome.css">
    <title>Welcome</title>
</head>

<body>

    <div class="nav">
        <div class="top">
            <div class="topleft">
                <h1>G1_1</h1>
            </div>
            <div class="topright">
                <a href="./about.html">
                    <h5>About</h5>
                </a>

            </div>

        </div>
        <div class="welcome">
            <div class="name">
                <h2>Welcome To <i>G1-1</i> Restaurant Assistant</h2>

            </div>
            <hr>
            <div class="description">
                <div class="descriptionQ">
                    <p>Are you confused where to eat? <br> Thinking you will get a site or that restaurant is full?
                        <br> Feeling tired? <br> You are in a formal restaurant. Can not ask for bill or take your order loud?</p>
                </div>
                <div class="descriptionA">
                    <p><br> We are here for you. We will suggest you the good restaurant around your location <br> You can resurve your site and if you are now want to go don't worry we are here to deliver your food by your favorit food delivery survices.
                        <br> You are in restaurant. Yes, we are asking for your help. Use us as you need we are watting for you.
                    </p>
                </div>
            </div>
        </div>
        <div class="btn">
            <a href="./Login.html"><input type="submit" class="btn" value="Lets Started" /></a>

        </div>



    </div>



</body>

</html>