.contct {
    background: rgb(8, 93, 110);
    background: linear-gradient(90deg, rgba(8, 93, 110, 0.8519782913165266) 0%, rgba(18, 48, 52, 1) 13%, rgba(31, 69, 88, 1) 25%, rgba(74, 104, 134, 1) 40%, rgba(54, 64, 103, 1) 70%, rgba(2, 0, 56, 1) 90%);
    height: 100%;
    width: 100%;
    margin-top: 3px;
}

.cus {
    padding: 2rem;
    font-family: Roboto;
}

.m {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

.m img {
    height: 12rem;
    width: 12rem;
    border-radius: 25px;
}

.info {
    padding: 2rem;
    color: azure;
    font-size: 18px;
}

i {
    padding: 4px;
}