.r_top2 img {
    width: 100%;
    max-height: 35rem;
}

.r_top1 iframe {
    padding: 0 !important;
    max-height: 30rem;
    width: 100%;
}

.container {
    box-sizing: border-box;
    border: 7px solid aquamarine;
    margin-top: -22rem;
    min-width: 100%;
}

.offer_bord {
    height: 100%;
    background: rgb(224, 87, 0);
    background: linear-gradient(90deg, rgba(0, 141, 170, 0.8015581232492998) 21%, rgba(0, 167, 201, 0.8743872549019608) 47%, rgba(0, 190, 228, 1) 66%, rgba(0, 212, 255, 1) 88%);
}

.offer_bord p {
    background-color: #e3f2fd;
    font-size: 45px;
    text-align: center;
    font-family: 'Pangolin', cursive, cursive;
}

.r_mid {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.r_mid_left,
.r_mid_right {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    border: 2px solid aquamarine;
    width: 100%;
    text-align: center;
}